<div style="background: url(https://cdn.pixabay.com/photo/2018/07/14/15/27/cafe-3537801_960_720.jpg)" class="jumbotron bg-cover text-white">
    <div class="container py-5 text-center">
        <h1  class="display-4 font-weight-bold" style=" color: white; font-weight: bold;">Easy travel</h1>
        <p class="font-italic mb-0">Tenemos el mundo al alcance de tus manos, solo tienes que dar un paso.</p>
    </div>
</div>
<div class="container" style="margin-top: 25px;">
    <div class="alert alert-secondary" role="alert" *ngIf="trmData">
        El <strong>TRM</strong> vigente para hoy es: <strong>{{trmData.unidad}} {{trmData.valor | currency}}</strong> 
        <button class="btn btn-sm btn-primary" (click)="obtenerTrm()" style="float: right">Refrescar</button>
    </div>
    <h5>✈️ 🍸 Estos son nuestros paquetes</h5>
    <hr>
    <app-listar-paquete [admin]="false"></app-listar-paquete>
</div>